# Ensure that code changes are reviewed by the developers
* @EnergyRoute-Japan/Developers

# Ensure that changes to workflows or the codeowners file are reviewed by the Admins
.gitignore @EnergyRoute-Japan/Admins
CODEOWNERS @EnergyRoute-Japan/Admins
LICENSE @EnergyRoute-Japan/Admins
.pre-commit-config.yaml @EnergyRoute-Japan/Admins
/.github/ @EnergyRoute-Japan/Admins
*.sh @EnergyRoute-Japan/Admins
